@import "tailwindcss";

@theme {
  --font-sans: "Bungee", ui-sans-serif, system-ui, sans-serif;
  --font-bungee: "Bungee", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950 font-sans;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
